$mdc-theme-primary: #bdbdbd;
$mdc-theme-secondary: #0277bd;

@import "@material/button/mdc-button";
@import "@material/list/mdc-list";
@import "@material/theme/mdc-theme";
@import "@material/typography/mdc-typography";

.device-list {
  --mdc-theme-text-primary-on-primary: var(--mdc-theme-text-primary-on-dark);
}

.rgb-list-item {
  height: auto;
  text-align: center;
  @include mdc-button-filled-accessible($mdc-theme-on-primary)
}

.rgb-control {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.rgb-control-name {
  margin-top: .4em;
  margin-bottom: .4em;
}

.device-list-header {
  @include mdc-typography('headline5')
  margin: .4em .4em .4em .4em;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.device-entry {
  width: 100%;
  margin: 0.1ex;
}

.device-entry-icon {
  display: inline;
  vertical-align: middle;
}

.momentary-button {
  @include mdc-button-filled-accessible($mdc-theme-on-secondary)
}

.device-on {
  @include mdc-button-filled-accessible($mdc-theme-secondary)
}

.device-off {
  @include mdc-button-filled-accessible($mdc-theme-on-primary)
}
