html(class="no-js" lang="en")
  head
    title Light status for #{location}
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/generated/lights.css")
    script(src="/generated/lights.entry.js")
  body
    .callout
      - if (Object.keys(lightsState).length > 0)
        each state, lightId in lightsState
          .row
              - var buttonClass = ''
              - if (state.isOn === undefined) buttonClass = 'alert'
              - else if (state.isOn === false) buttonClass = 'secondary'
              button.small-12.columns(class=(`button expand button-light ${buttonClass}`) data-lightid=`${lightId}`) #{state.name}
      - else
        .row
          .small-12.callout No lights registered
